article {
    margin: 0;
    width: 18em;
}

h5 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

ul {
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
}

li {
    padding: 1em;
}

p {
    flex-wrap: wrap;
    margin: 0;
    font-size: 14px;
}

img {
    width: 18em;
    height: 10em;
}
