article {
    border-style: solid;
    border-color: orange;
    margin: 0;
    width: 20em;
}

h5 {
    margin: 0.4em;
}

ul {
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
}

li {
    padding: 1em;
}

p {
    flex-wrap: wrap;
    margin: 0.4em;
    font-size: 14px;
}

img {
    width: 20em;
    height: 10em;
}
