h2 {
  color: #42c2ff;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 0;
  margin: 0;
}

.section ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .section ul {
    flex: 1;
    display: block;
  }
}
