* {
  margin: 0;
  padding: 0;
  text-align: left;
}

.header {
  background-color: #42c2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: sticky;
  top: 0;
  left: 0;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  li {
    display: block;
  }

  .header ul {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

button {
  border: 0px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: medium;
}

button:hover {
  border: 2px;
  background-color: transparent;
  color: #85f4ff;
  font-weight: bold;
  font-size: medium;
}

.loader {
  height: calc(100vh - 51px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.noBlogs {
  height: calc(100vh - 51px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.empty {
  height: 20vw;
  width: 20vw;
}
