.card {
    border-style: solid;
    border-color: orange;
    margin: 0;
    width: 30vw;
    height: 70vh;
}

h3 {
    display: block;
    background-color: white;
    padding-top: 0.5em;
    padding-left: 0.4em;
    padding-bottom: 0;
    margin: 0;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 15vh;
  }

li {
    padding: 1em;
}

p {
    display: block;
    height: 16vh;
    flex-wrap: wrap;
    margin: 0.4em;
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 15vh;
    line-height: 3vh;
}    

img {
    width: 30vw;
    height: 40vh;
    object-fit: fill;
}

@media screen and (max-width: 767px) {
    .card {
        border-style: solid;
        border-color: orange;
        margin: 0;
        width: 80vw;
        height: 70vh;
    }

    p {
        max-height: 15vh;
        line-height: 3vh;
    }  

    
    img {
        width: 80vw;
        height: 40vh;
        object-fit: fill;
    }
}

@media screen and (min-width: 768px) and (max-width: 1104px) {
    .card {
        width: 45vw;
        height: 70vh;
    }

    p {
        max-height: 15vh;

    }  

    img {
        width: 45vw;
        height: 40vh;
        object-fit: fill;
    }
}
