.card {
    border-radius: 12px;
    background-color: #B8FFF9;
    box-shadow: 0px 0px 41px -15px rgba(0,0,0,0.36);
    width: 22vw;
    height: 75vh;
}

h3 {
    display: inline;
    padding-top: 0.5em;
    padding-left: 0.4em;
    text-overflow: ellipsis;
    word-wrap: unset;
    overflow: hidden;
  }

li {
    padding: 1em;
}

p {
    display: inline;
    height: 20vh;
    flex-wrap: wrap;
    margin: 0.4em;
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 15vh;
}    

img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 22vw;
    height: 40vh;
    object-fit: fill;
}

@media screen and (max-width: 767px) {
    .card {
        width: 80vw;
        height: 70vh;
    }

    p {
        max-height: 15vh;
    }  

    
    img {
        width: 80vw;
        height: 40vh;
        object-fit: fill;
    }
}

@media screen and (min-width: 768px) and (max-width: 1104px) {
    .card {
        width: 45vw;
        height: 70vh;
    }

    p {
        max-height: 15vh;
    }  

    img {
        width: 45vw;
        height: 40vh;
        object-fit: fill;
    }
}
