.App {
  text-align: left;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header {
  background-color: orange;
}

button {
  border: 0ch;
  background-color: transparent;
}