.App {
  text-align: left;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header {
  background-color: orange;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: sticky;
  top: 0;
  left: 0;
}

button {
  border: 0ch;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: medium;
}